@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Oswald:500&display=swap');

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
	width: 100%;
	background-color: #a1dbff;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	color: #494949;
	font-size: 15px;
}

.IgSz {
	width: 100%;
	height: auto;
}

.Lf {
	width: 25%;
	height: 100%;
	background-color: #fff;
	float: left;
	box-shadow: 0 0 20px 1px #919191;
	position: relative;
}

.Rt {
	width: 75%;
	height: 100%;
	float: left;
	position: relative;
}

.RtImg {
	width: 60%;
	height: auto;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	margin: auto;
}

.HdCntr {
	width: 70%;
	margin: 150px auto;
}

.BluTxt {
	color: #009cff;
}

.BluTp {
	border-top:solid 1px #a1dbff;
}

.BluBtm {
	background-color: #a1dbff;
}

.GrnTxt {
	color: #05d600;
}

.GrnTp {
	border-top:solid 1px #05d600;
}

.GrnBtm {
	background-color: #05d600;
}



.MnHd {
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	font-size: 40px;
	text-align: left;
	line-height: 1.5;
}

.MnSbHd {
	font-size: 30px;
	margin: 10px 0;
}

.BrfCont {
	line-height: 1.5;
	margin: 10px 0;
}

.HdShwLnk a {
	padding: 15px 0;
	color: #000;
	text-decoration: none;
	display: block;
	overflow: hidden;
	/*margin-top: 30px;*/
}

.HdShwLnk a:hover {
	color: #000;
	text-decoration: none;
}

.HdShwLnk .LnkTxt {
	color: #494949;
	padding-right: 20px;
	float: left;
	font-weight: 900;
}

.HdShwLnk .LnkIcn {
	width: 24px;
	height: 24px;
	background:url(../images/add.png) center center no-repeat;
	background-size: 12px;
	float: right;
}

.HdShwLnk .LnkCls {
	width: 24px;
	height: 24px;
	background:url(../images/sub.png) center center no-repeat;
	background-size: 12px;
	float: right;
}

.PnlCont {
	display: none;
	margin-bottom: 15px;
	line-height: 1.5;
}

.Ln {
	width: 100%;
	height: 1px;
}

.btmNav {
	width: 70%;
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	z-index: 10000;
	margin: auto;
	overflow: hidden;
}

.FltLf {
	float: left;
}

.FltRt {
	float: right;
}

.NavBtn a {
	width: 20px;
	height: 20px;
	padding:10px;
	border-radius: 100%;
	display: block;
}

.NavBtn a:hover {
	background-color: #f4f4f4;
	display: block;
}

.SldDet {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	line-height: 3;
}

.Clr {
	clear: both;
}

@media all and (min-width:1300px) and (max-width:1633px) {

.Lf {
	width: 32%;
}

.Rt {
	width: 68%;
}

.RtImg {
	width: 80%;
}

}

@media all and (min-width:1015px) and (max-width:1301px) {

.Lf {
	width: 35%;
}

.Rt {
	width: 65%;
}

.RtImg {
	width: 80%;
}

.HdCntr {
	width: 85%;
	margin: 50px auto;
}

.btmNav {
	width: 85%;

}


}

@media all and (min-width:901px) and (max-width:1014px) {

html {
	height: auto;
	width: auto;
}

body {
	height: auto;
	width: auto;
	overflow-y: scroll;
	font-size: 15px;
}

.Lf {
	width: 100%;
	height: auto;
}

.Rt {
	width: 100%;
	height: auto;
	position: relative;
}

.RtImg {
	width: 80%;
	position: relative;
	left: 10%;
	margin: 30px auto;
	float: none;
}

.HdCntr {
	width: 85%;
	margin: 50px auto;
}

.btmNav {
	position: relative;
	width: 85%;
	bottom: auto;
	left: auto;
	right: auto;
	margin: 20px auto;

}




}

@media all and (min-width:769px) and (max-width:900px) {

html {
	height: auto;
	width: auto;
}

body {
	height: auto;
	width: auto;
	overflow-y: scroll;
	font-size: 15px;
}

.Lf {
	width: 100%;
	height: auto;
}

.Rt {
	width: 100%;
	height: auto;
	position: relative;
}

.RtImg {
	width: 80%;
	position: relative;
	left: 10%;
	margin: 30px auto;
	float: none;
}

.HdCntr {
	width: 85%;
	margin: 50px auto;
}

.btmNav {
	position: relative;
	width: 85%;
	bottom: auto;
	left: auto;
	right: auto;
	margin: 20px auto;

}


}

@media all and (min-width:601px) and (max-width:768px) {

html {
	height: auto;
	width: auto;
}

body {
	height: auto;
	width: auto;
	overflow-y: scroll;
	font-size: 15px;
}

.Lf {
	width: 100%;
	height: auto;
}

.Rt {
	width: 100%;
	height: auto;
	position: relative;
}

.RtImg {
	width: 80%;
	position: relative;
	left: 10%;
	margin: 30px auto;
	float: none;
}

.HdCntr {
	width: 85%;
	margin: 50px auto;
}

.btmNav {
	position: relative;
	width: 85%;
	bottom: auto;
	left: auto;
	right: auto;
	margin: 20px auto;

}



}

@media all and (min-width:481px) and (max-width:600px) {

html {
	height: auto;
	width: auto;
}

body {
	height: auto;
	width: auto;
	overflow-y: scroll;
	font-size: 15px;
}

.Lf {
	width: 100%;
	height: auto;
}

.Rt {
	width: 100%;
	height: auto;
	position: relative;
}

.RtImg {
	width: 80%;
	position: relative;
	left: 10%;
	margin: 30px auto;
	float: none;
}

.HdCntr {
	width: 85%;
	margin: 50px auto;
}

.btmNav {
	position: relative;
	width: 85%;
	bottom: auto;
	left: auto;
	right: auto;
	margin: 20px auto;

}



}

@media all and (max-width:480px) {

html {
	height: auto;
	width: auto;
}

body {
	height: auto;
	width: auto;
	overflow-y: scroll;
	font-size: 15px;
}

.Lf {
	width: 100%;
	height: auto;
}

.Rt {
	width: 100%;
	height: auto;
	position: relative;
}

.RtImg {
	width: 80%;
	position: relative;
	left: 10%;
	margin: 30px auto;
	float: none;
}

.HdCntr {
	width: 85%;
	margin: 50px auto;
}

.btmNav {
	position: relative;
	width: 85%;
	bottom: auto;
	left: auto;
	right: auto;
	margin: 20px auto;

}



}

